@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;600;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

// Colors
$color-primary: #F4DFD5;
$color-secondary: #2D4B48;
$color-bg-primary: white;
$color-bg-secondary: $color-secondary;

// Overwrite
h1 { font-size: 4.5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.3rem;}
h5 { font-size: 1rem; }
p { 
    font-size: 1rem;
    line-height: 1.7rem;
}

@media (max-width: 767px) {
    h1 { font-size: 4rem !important; }
    h2 { font-size: 2.5rem !important; }
}

section { 
    padding-top: 6rem;
    padding-bottom: 6rem;
}

// Classes
.section-header { 
    text-align: center;
    //text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    padding-bottom: 5rem;
}

body {
    font-family: 'Abhaya Libre', sans-serif;
    overflow-x: hidden;
    
    background-color: rgba($color-primary, 0.6);
    color: $color-bg-secondary;
}

header {
    position: absolute;
    width: 100%;
    z-index: 100;

    nav {
        font-size: 0.9rem;
        font-weight: 600;
        
        .navbar-toggler {
            border: none;
            .navbar-toggler-icon { background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 1 24 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 1%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e"); }
        }

        .navbar-toggler:focus {
            box-shadow: none;
        }

        .navbar-collapse {
            height: 100% !important;
        }

        .nav-link {
            font-size: 1.1rem;
            cursor: pointer;
        }
        .nav-link.active {
            font-weight: 700;
        }
    }
}

@media (max-width: 991px) {
    .nav-link {
        font-weight: 600;
        padding-top: 1rem;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        padding: 1rem;
        padding-left: 2rem;
        width: 250px;
        background-color: rgba($color-primary, 0.95);
    }

    .navbar-collapse.collapsing {
        right: -250px;
        transition: right 300ms ease-in-out;
    }

    .navbar-collapse.show {
        right: 0;
        transition: right 200ms ease-in-out;
    }
}

#headline {
    height: 110%;
    color: $color-bg-secondary;

    #headline-text {
        position: absolute;
        padding-top: 4rem;
        width: 80%;
        height: 110%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h3 span {
            display: inline-block;
        }

        h1 span {
            color: rgba(white, $alpha: 0.6);
            -webkit-text-stroke: 1.7px $color-bg-secondary;
        }

        .btn {
            padding: 0.5rem 2rem;
            font-size: 1.3rem;
            font-weight: 800;
            color: $color-bg-secondary;
            border-color: $color-bg-secondary;
            border-radius: 50px;
            border-width: 1.5px;
        }

        .btn:hover {
            color: $color-primary;
            background-color: $color-bg-secondary;
        }
    }

    #hero {
        position: absolute;
        right: 0;
        width: 60%;
        height: 120%;
        background-image: linear-gradient(rgba($color-primary, 0), rgba($color-primary, 0)),
                            url('../public/images/hero.jpg');
        background-size: cover;
        background-position: center;
    }

    #hero::before {
        content: "";
        visibility: hidden;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(white, 0.4);
    }
}

@media (max-width: 991px) {
    #headline {
        #hero { 
            width: 100%;
            height: 110%;
        }
        #hero::before { visibility: visible; }
    }
}

#about {
    background-color: rgba($color-bg-secondary, 0.9);
    color: white;
    margin-bottom: 5rem;

    .container {
        position: relative;
        padding-top: 12rem;
        padding-bottom: 6rem;

        #about-text {
            width: 50%;
            margin-left: auto;
        }
        
        #about-img {
            position: absolute;
            top: 30%;
            left: 0;
            width: 45%;
            height: 80%;
            background-image: linear-gradient(rgba($color-secondary, 0.4), rgba($color-secondary, 0.4)),
                                url('../public/images/concept.jpg');
            background-size: cover;
            background-position: center;
        }
    }
}

@media (max-width: 991px) {
    #about > .container { padding-top: 6rem; }
}

@media (max-width: 767px) {
    #about {
        margin-bottom: 0;
        background-color: none;
        background-image: linear-gradient(rgba(black, 0.85), rgba(black, 0.85)),
                            url('../public/images/concept.jpg');
        background-size: cover;
        background-position: center;
        
        #about-text {
            width: 100% !important;
            text-align: center;
        }

        #about-img {
            display: none;
        }
    }
}

#services {

    .col {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 1rem;

        .service-name {
            margin-top: 1rem;
            font-weight: 900;
        }
    }
}

#projects {
    background-color: rgba($color-bg-secondary, 1);
    color: $color-primary;
    padding-bottom: 0;

    .section-header { padding-bottom: 6rem; }
    #more-work { display: none; }   
    .col { padding: 0; }

    .img-container {
        margin: 0;
        overflow: hidden;
        height: 400px;
    }

    #unique-project {
        background: black;
        overflow: hidden;
        
        a {
            position: relative;
            display: block;
        }

        a::before {
            position: absolute;
            content: "";
            visibility: hidden;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.3s ease-in-out;
            background-color: rgba($color-bg-secondary, 0.6);
        }

        img { 
            transition: all 0.3s ease-in-out;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    #unique-content {
        position: absolute;
        text-align: center;
        color: white;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.3s ease-in-out;
        font-weight: italic;
    }

    #unique-project:hover {
        a::before {
            opacity: 1;
            visibility: visible;
        }

        img { transform: scale(1.1); }

        #unique-content {
            opacity: 1;
            z-index: 10;
        }
    }

    @media (max-width: 567px) {
       #unique-project {
            a::before {
                opacity: 1;
                visibility: visible;
            }

            #unique-content {
                opacity: 1;
                z-index: 10;
            }
       } 
    }


    /*
    .row {
        // padding-left: 20px;
        // padding-right: 20px;

        .col {
            // padding: 2px;
            padding: 0;

            .single-project {
                background: black;
                // border-radius: 5px;
                overflow: hidden;
                
                a {
                    position: relative;
                    display: block;
                }

                a::before {
                    position: absolute;
                    content: "";
                    visibility: hidden;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    transition: all 0.3s ease-in-out;
                    background-color: rgba(black, 0.4);
                }

                img { transition: all 0.3s ease-in-out; }
            }

            .single-project:hover {
                a::before {
                    opacity: 1;
                    visibility: visible;
                }

                img { transform: scale(1.1); }

                .single-project-content {
                    opacity: 1;
                    z-index: 10;
                }
            }

            .single-project-content {
                position: absolute;
                text-align: center;
                color: white;
                opacity: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out;
                
                h3 { font-weight: 900;}

                h4 { 
                    margin: 0; 
                    font-weight: 600;
                }
            }
        }
    }
    */
}

#project {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .carousel-item {
        height: 400px;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    
}

#testimonials {
    .section-header { padding-bottom: 3rem; }

    .col {
        padding: 40px;

        .testimonial {
            padding: 20px;
            box-shadow: 0 0 10px 1px rgba($color-bg-secondary, 0.5);
            background-color: $color-primary;
        }
    }

    p { 
        font-style: italic;
        font-size: 1rem;
    }
}

footer {
    background-color: $color-bg-secondary;
    color: $color-bg-primary;

    a { 
        font-size: 0.9rem;
        color: inherit;
        text-decoration: none;
    }

    a:hover { color: $color-primary }

    .btn {
        font-size: 1.2rem;
        background-color: rgba(white, $alpha: 0.2);
        color: rgba(white, 0.8);
        border: none;
        border-radius: 50%;
    }

    .btn:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.4);
    }
}

@media (max-width: 767px) {
    #footer-logo {
        text-align: center;
    }
}

// Pages

.page-header {
    background-image: linear-gradient(rgba($color-bg-secondary, 0.95),
                        rgba($color-bg-secondary, 0.95)),
                            url('../public/images/hero.jpg');
    background-position: center;
    background-size: cover;
    color: $color-primary;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#services-page {
    #services {
        padding-bottom: 0;
        h2 { display: none; }

    }
}

#projects-page {
    #projects { 
        padding: 0;
        h2 { display: none; }
    }
}

#contact-page {

    #contact-info {
        padding-top: 5rem;
        padding-bottom: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

    h4 { width: 30%; }

        .btn {
            width: 50%;
            border-width: 1.5px;
            border-radius: 50px;
            font-size: 1.5rem;
        }
    }
}

@media (max-width: 767px) {
    #contact-info {
        h4 { width: 90% !important; }
        
        .btn {
            width: 90% !important;
            font-size: 1.2rem !important;
        }
    }
}